*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2f86d6;
}
.limite{
    width: 1024px;
    margin: 0 auto;
}
header .limite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.logo img{
    width: 80px;
    margin-right: 10px;
}
.logo{
     display: flex;
}
.logo P{
    color:#fff ;
    font-weight: 500;
}
.navegacao a{
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    font-size: 15PX;
    font-weight: 500;
}
tr th{
    background-color:#f6f6f6
 ;
}
tr th:first-of-type{
    background-color: #fff;
}
tr td:first-of-type{
    background-color: #f6f6f6;
    padding-left: 15px;
    font-weight: 500;
}
tr th p:first-of-type{
    color: #597074;
    font-size: 11px;
}
tr th p:last-of-type{
    font-size: 25px;
}
.azul{
    width: 13px;
    height: 20px;
    border-radius: 100%;
    background-color: #2f86d6;
    margin: auto;
    
}
table{
    line-height: 50px;
    margin:50px  auto;
    text-align: center;
    width: 100%;
    
}
tr td:first-of-type{
    text-align: justify;
    color: black;
}
tr td{
    color: #597074;
}
td{
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7 ;
    font-size: 15px;
    
}
.contato .limite img{
    width: 80px;
    margin-right: 5px;
    
}
.logomarca{
    display: flex;
    justify-content: center;
    margin-bottom:10px;
    align-items: center;
    text-align: justify;

}
.contato .limite{
    text-align: center;
}
.contato{
    background-color: #2f86d6;
    height: 200px;
    align-items: center;
    display: flex;
}
footer{
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    #f6f6f6
}
footer .limite span{
    color: #2f86d6;
    font-size: 15px;
}
.logomarca p:first-of-type{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.contato p{
    color:#fff;
    font-size: 15px;
}
